# Add to .gitignore
Battle.net/
brew/
btop/
configstore/
darktable/
fzf-tab/
gh/
ghosttyvim.sh
github-copilot/
gtk-3.0/
opencode/
raycast/
sketchybar/
thefuck/
zed/*
!zed/themes/
!zed/settings.json
brew
ghosstyvim.sh
